Package: pthreads
Version: 3.0.0
Port-Version: 14
Depends: vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 7e6c107f34e6376c30cb1df514ff0318c911e9c11c1aa447ff3d07ad101f5d49
Description: Meta-package that provides PThreads4W on Windows, or assumes presence of system pthreads on POSIX systems.
